<launch>
	<include file="$(find pimouse_ros)/launch/hashimouse.launch" />
	<include file="$(find leptrino_force_torque)/launch/leptrino.launch" />
	<node pkg="pimouse_run_corridor" name="wall_around" type="wall_around.py" required="true" />
	<test test-name="test_around" pkg="pimouse_run_corridor" type="travis_test_around.py" />
</launch>
